.carbon-box {
  .carbon-Hidden {
    display: none !important;
    visibility: hidden !important;
  }

  .carbon-Number,
  .carbon-Password {
    input {
      width: 100%;
      margin: 1px;
      padding: 3px 5px;
    }
  }
}
