@import "compass";
// TODO: This file was inspired by Woocommerce. We will extend carbon fields with an image gallery in a later point of time

.add_product_images {
  padding: 0 12px 12px;
}

#product_images_container {
  padding: 0 0 0 9px;

  ul {
    @include clearfix();
    margin: 0;
    padding: 0;

    li.image,
    li.add,
    li.wc-metabox-sortable-placeholder {
      width: 80px;
      height: 80px;
      float: left;
      cursor: move;
      border: 1px solid #d5d5d5;
      margin: 9px 9px 0 0;
      background: #f7f7f7;
      @include border-radius(2px);
      position: relative;
      box-sizing: border-box;

      img {
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: block;
      }
    }

    li.wc-metabox-sortable-placeholder {
      border: 3px dashed #dddddd;
      position: relative;

      &:after {
        @include icon-dashicons( "\f161" );
        font-size: 2.618em;
        line-height: 72px;
        color: #ddd;
      }
    }

    ul.actions {
      position: absolute;
      top: -8px;
      right: -8px;
      padding: 2px;
      display: none;

      li {
        float: right;
        margin: 0 0 0 2px;

        a {
          width: 1em;
          height: 1em;
          margin: 0;
          display: block;
          overflow: hidden;

          &.tips {
            cursor: pointer;
          }
        }

        a.delete {
          @include ir();
          font-size: 1.4em;

          &:before {
            @include icon-dashicons( "\f153" );
            color: #999;
          }

          &:hover {
            &:before {
              color: grey;
            }
          }
        }
      }
    }

    li:hover ul.actions {
      display: block;
    }
  }
}


@mixin ir() {
  display: block;
  text-indent: -9999px;
  position: relative;
  height: 1em;
  width: 1em;
}
