// Shop Columns
$shop-column-default-width:         10%;
$shop-column-title-width:           30%;
$shop-column-logo-width:            $shop-column-default-width;
$shop-column-date-width:            $shop-column-default-width;
$shop-column-logo-thumbail-width:   80px;

//
$color-success:     #3c763d;
$color-error:       #a94442;
$color-info:        #31708f;
$color-warning:     #8a6d3b;
