@import "variables";

#feedback-form {
  textarea[name=message] {
    margin: 0 !important;
  }
}

.feedback {
  &-success {
    p {
      color: $color-success;
    }
  }
  &-error {
    p {
      color: $color-error;
    }
  }
}
