@import "variables";

.taxonomy-aff_shop_tmpl,
.taxonomy-aff_attribute_tmpl,
.taxonomy-aff_detail_tmpl {
  .term-description-wrap {
    display:none;
  }
}

.taxonomy-aff_shop_tmpl {
  .wp-list-table {
    .column {
      &-thumbnail {
        img {
          width: 100%;
          max-width: $shop-column-logo-thumbnail-width;
          height: auto;
        }
      }
    }
  }
}
