.aff-import-search-form {
  &-main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    @media (max-width: 575px) {
      flex-direction: column;
    }

    input[name="term"] {
      margin: 0;
      padding: 3px 5px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;
      display: block;
      width: calc(100% - 110px);

      @media (max-width: 575px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    button {
      border: 1px solid red;
      height: 32px !important;
      line-height: 30px !important;
      width: 100px;
      display: block;

      @media (max-width: 575px) {
        width: 100%;
      }
    }
  }

  &-filters {
    display: flex;
    flex-flow: row;
    flex: 1 0 100%;
    flex-wrap: wrap;
    padding: 10px 10px 0 10px;

    @media (max-width: 575px) {
      flex-direction: column;
    }

    &-item {
      margin: 0 10px 10px 0;
      height: 32px !important;
      line-height: 32px !important;
      padding: 2px;
      font-size: 14px;
      min-width: 150px;
      vertical-align: middle;

      &:last-of-type {
        margin-right: 0;
      }

      @media (max-width: 575px) {
        margin-right: 0;
      }
    }

    &-notice {
      display: block;
      font-size: 13px;
      font-style: italic;
      color: #555;

      p {
        margin: 0 0 10px 0;
      }
    }
  }

  &-loading {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;

    &-spinner {
      float: none;
    }
  }
}
