.aff-amazon-import-search {
  max-width: 750px;
  display: block;
}

.aff-amazon-import-search-form {
  &-label {
    display: inline-block;
  }

  &-term {
    margin: 0;
    padding: 3px 5px;
    width: 280px;
    max-width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5
  }

  &-type,
  &-category {
    margin: 0 0 0 5px;
    height: 32px !important;
    line-height: 32px !important;
    padding: 2px;
    font-size: 14px;
    min-width: 100px;
    vertical-align: middle;
  }

  &-submit {
    height: 32px !important;
    line-height: 30px !important;
    float: right;
  }

  &-notice {
    display: block;
    font-size: 13px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
  }
}

.aff-amazon-import-search-results-item {
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: white;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1 0 100%;
  padding: 20px;

  &-media {
    width: 200px;
    height: 100%;
  }

  &-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    width: 200px;
    height: 200px;

    &-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }

  &-content {
    width: calc(100% - 220px);
  }

  &-title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &-price {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    &-current {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2rem;
      color: #2fa32f;
    }

    &-old {
      margin-left: 10px;
      font-size: 1rem;
      text-decoration: line-through;
      color: #ff2320;
    }
  }

  &-variants {
    &-title {
      margin: 30px 0 10px 0;
    }

    &-show-all {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      font-size: 0.9rem;
      text-decoration: none;

      &:active,
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }

    &-item {
      border-radius: 5px;
      background-color: #fcfcfc;
      padding: 10px;
      padding-bottom: 0;
      margin-bottom: 10px;
      border: 1px solid #eee;

      &-hidden {
        display: none;
      }

      &-title {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-top: 0;
        margin-bottom: 10px;
      }

      &-price {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;

        &-current {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5rem;
          color: #2fa32f;
        }

        &-old {
          margin-left: 10px;
          font-size: 0.8rem;
          text-decoration: line-through;
          color: #ff2320;
        }
      }

      &-attributes {
        display: block;
        margin: 0;

        &-item {
          box-sizing: border-box;
          border-radius: 5px;
          margin: 0 10px 10px 0;
          display: inline-block;
          border: 1px solid #eee;
          overflow: hidden;

          &-name,
          &-value {
            display: inline-block;
            padding: 5px 8px;
          }

          &-name {
            border-right: 1px solid #eee;
            background-color: #eee;
            font-weight: bold;
          }

          &-value {
            background-color: white;
          }
        }
      }
    }
  }

  &-actions {
    margin-top: 30px;

    &-import {
      justify-self: flex-start;
      display: block;
      text-align: center;
      width: 100%;
      max-width: 250px;
      border: 1px solid #ff870a;
      background-color: #ff8c14;
      font-size: 1rem;
      color: #fff;
      outline: 0;
      border-radius: 5px;
      padding: 10px 20px;

      &:hover {
        border-color: #ed7709;
        background-color: #ed7709;
        color: #fff !important;
        text-decoration: none;
      }
    }
  }
}
