.aff-amazon-import {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  &-search {
    display: inline-block;
    width: calc(70% - 10px);

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      width: calc(70% - 10px);
    }
  }

  &-config {
    display: inline-block;
    width: calc(30% - 10px);

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      width: calc(30% - 10px);
    }
  }
}

.aff-amazon-import-load-more {
  text-align: center;

  &-button {
    height: 32px !important;
    line-height: 30px !important;
    margin-bottom: 10px !important;
  }

  &-loading {
    display: block;
    text-align: center;
    margin-bottom: 10px;

    &-spinner {
      float: none;
    }
  }

  &-no-results {
    display: block;
    font-size: 13px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
  }
}

.aff-amazon-import-search-form {
  &-panel {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #555;
    font-size: 13px;
    margin-bottom: 10px;

    &-main {
      display: flex;
      width: 100%;
      flex-flow: row;
      justify-content: space-between;
      padding: 10px;
      box-sizing: border-box;

      @media (max-width: 575px) {
        flex-direction: column;
      }

      input[name="term"] {
        margin: 0;
        padding: 3px 5px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        display: block;
        width: calc(100% - 110px);

        @media (max-width: 575px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      button {
        border: 1px solid red;
        height: 32px !important;
        line-height: 30px !important;
        width: 100px;
        display: block;

        @media (max-width: 575px) {
          width: 100%;
        }
      }
    }

    &-filters {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-flow: row;
      flex: 1 0 100%;
      flex-wrap: wrap;
      padding: 10px 10px 0 10px;
      border-top: 1px solid #eee;
      background: #fafafa;

      @media (max-width: 575px) {
        flex-direction: column;
      }

      &-option {
        margin: 0 10px 10px 0;
        height: 32px !important;
        line-height: 32px !important;
        padding: 2px;
        font-size: 14px;
        min-width: 150px;
        vertical-align: middle;

        &:last-of-type {
          margin-right: 0;
        }

        @media (max-width: 575px) {
          margin-right: 0;
        }
      }

      &-notice {
        display: block;
        font-size: 13px;
        font-style: italic;
        color: #555;

        p {
          margin: 0 0 10px 0;
        }
      }
    }
  }

  &-loading {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;

    &-spinner {
      float: none;
    }
  }
}

.aff-amazon-import-search-results-item {
  background-color: white;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  border: 1px solid #e5e5e5;
  flex-direction: row;
  flex: 1 0 100%;
  padding: 20px;

  &-media {
    width: 200px;
    height: 100%;
  }

  &-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    width: 200px;
    height: 200px;

    &-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }

  &-content {
    width: calc(100% - 220px);
  }

  &-title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &-price {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    &-current {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2rem;
      color: #2fa32f;
    }

    &-old {
      margin-left: 10px;
      font-size: 1rem;
      text-decoration: line-through;
      color: #ff2320;
    }
  }

  &-variants {
    &-title {
      margin: 30px 0 10px 0;
    }

    &-show-all {
      display: block;
      text-align: center;
      margin-bottom: 10px;
      font-size: 0.9rem;
      text-decoration: none;

      &:active,
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }

    &-item {
      border-radius: 5px;
      background-color: #fcfcfc;
      padding: 10px;
      padding-bottom: 0;
      margin-bottom: 10px;
      border: 1px solid #eee;

      &-hidden {
        display: none;
      }

      &-title {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-top: 0;
        margin-bottom: 10px;
      }

      &-price {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;

        &-current {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5rem;
          color: #2fa32f;
        }

        &-old {
          margin-left: 10px;
          font-size: 0.8rem;
          text-decoration: line-through;
          color: #ff2320;
        }
      }

      &-attributes {
        display: block;
        margin: 0;

        &-item {
          box-sizing: border-box;
          border-radius: 5px;
          margin: 0 10px 10px 0;
          display: inline-block;
          border: 1px solid #eee;
          overflow: hidden;

          &-name,
          &-value {
            display: inline-block;
            padding: 5px 8px;
          }

          &-name {
            border-right: 1px solid #eee;
            background-color: #eee;
            font-weight: bold;
          }

          &-value {
            background-color: white;
          }
        }
      }
    }
  }

  &-actions {
    margin-top: 30px;

    &-import {
      justify-self: flex-start;
      display: block;
      text-align: center;
      width: 100%;
      max-width: 250px;
      border: 1px solid #ff870a;
      background-color: #ff8c14;
      font-size: 1rem;
      color: #fff;
      outline: 0;
      border-radius: 5px;
      padding: 10px 20px;

      &:hover {
        border-color: #ed7709;
        background-color: #ed7709;
        color: #fff !important;
        text-decoration: none;
      }
    }
  }
}

.aff-amazon-import-config {
  &-group {
    box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    position: relative;
    padding: 60px 10px 10px 10px;

    &-title {
      line-height: 1.4em;
      font-size: 14px;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 10px;
      position: absolute;
      display: block;
      float: left;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      border-bottom: 1px solid rgb(238, 238, 238);
    }

    &-label {
      margin-bottom: 5px;
      display: block;
      line-height: 1.4rem;
      font-size: 0.9rem;
    }

    &-option-new-shop-name {
      margin: 0;
      padding: 5px 8px;
      width: 100%;
      max-width: 100%;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;

      &[disabled] {
        opacity: 0.5;
        background-color: #fafafa;
        outline: none;
        border: 1px solid #ddd;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.07)
      }
    }

    &-option-replace-product-id,
    &-option-merge-product-id {
      width: 100%;

      .selectize-input {
        padding: 6px 8px;

        .item {
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }
}
