.aff-product-universal-box {
  background-color: white;
  border: 1px solid #eee;
  border-bottom: none;
  display: block;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;

  &-row {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 100%;
    width: 100%;
  }

  &-column {
    padding: 25px;
    border-bottom: 1px solid #eee;

    &-full-width {
      flex: 1 0 100%;
      width: 100%;
    }

    &-half-width {
      flex: 1 0 50%;
      width: 50%;

      &:first-child {
        border-right: 1px solid #eee;
      }
    }
  }

  &-intro {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .aff-product {
    &-title {
      flex: 1 0 100%;
      margin: 0;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 15px;
      font-weight: bold;
    }

    &-tags {
      flex: 1 0 100%;
      display: flex;

      &-item {
        background-color: #3bafda;
        border: 1px solid #379ac3;
        color: white;
        box-sizing: border-box;
        padding: 5px 10px;
        margin-bottom: 15px;
        margin-right: 10px;
        font-size: 0.8rem;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        &:hover {
          background-color: #379ac3;
        }
      }
    }

    &-review {
      flex: 1 0 calc(60% - 10px);
      display: inline-flex;
      justify-self: flex-start;
      justify-content: flex-start;
      align-items: center;

      &-rating {
        height: 25px;

        &-star {
          padding: 0;
          margin: 0;
          width: 25px;
          height: 25px;

          path {
            fill: #ffd055 !important;
          }
        }
      }

      &-votes {
        font-size: 1rem;
        margin: 0;
        margin-left: 10px;
      }
    }

    &-price {
      flex: 1 0 calc(40% - 10px);
      display: inline-flex;
      justify-self: flex-end;
      justify-content: flex-end;
      align-items: center;

      &-current {
        color: #2fa32f;
        font-size: 1.8rem;
      }

      &-old {
        color: red;
        font-size: 1.4rem;
        text-decoration: line-through;
        margin-left: 10px;
        font-weight: lighter;
      }
    }

    &-thumbnail {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      -webkit-box-shadow: none;
      box-shadow: none;
      object-fit: contain;
    }

    &-attributes {
      margin-bottom: 10px;
      width: 100%;

      &-choices {
        list-style: none;
        width: 100%;
        margin: 0;

        &:last-child {
          margin-bottom: 0;
        }

        &-list {
          display: flex;
          flex-flow: row wrap;
          padding: 0;
        }
      }

      &-choice {
        list-style: none;
        border-width: 1px;
        border-style: solid;
        padding: 5px 10px;
        margin: 0 10px 10px 0;
        min-width: 50px;
        text-align: center;

        &.unreachable {
          opacity: 0.5;
          border-style: dotted;
        }

        &:first-child {
          margin-left: 0;
        }

        &-list {
          display: flex;
          flex-flow: row wrap;
          padding: 0;
        }
      }
    }

    &-details {
      border: none;

      &-item {
        font-size: 1rem;
        border: none;

        &-name, &-value {
          line-height: 2rem;
        }

        &-name {
          font-weight: bold;
        }

        &-value {
          &-boolean {
            &-check, &-cross {
              margin-top: -5px;
              vertical-align: middle;
            }

            &-check {
              path {
                fill: rgb(92, 184, 92);
              }
            }

            &-cross {
              path {
                fill: rgb(217, 83, 79);
              }
            }
          }
        }

        td {
          border: none;
          border-bottom: 1px solid #eee;
          padding: 7px 0;
        }

        &:last-child {
          td {
            border-bottom: none
          }
        }
      }
    }

    &-shops {
      &-item {
        flex: 1 0 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #eee;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }

        &-brand {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-info {
          width: 50%;
          text-align: center;
          display: flex;
          flex-direction: column;
        }

        &-actions {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          flex: 1;
        }

        &-thumbnail {
          max-width: 100%;
          height: auto;
          max-height: 100px;
          object-fit: contain;
          -webkit-box-shadow: none;
          box-shadow: none;
        }

        &-price {
          margin-bottom: 10px;
          flex: 1;
          display: flex;
          justify-self: flex-end;
          justify-content: flex-end;
          align-items: center;
          flex-wrap: wrap;

          &-current {
            color: #2fa32f;
            font-size: 1.8rem;
            line-height: 2rem;
          }

          &-old {
            color: red;
            font-size: 1.4rem;
            line-height: 2rem;
            text-decoration: line-through;
            margin-left: 10px;
            font-weight: lighter;
          }

          &-indication {
            display: inline;
          }
        }

        &-indication {
          color: #888;
          font-size: .8rem;
          line-height: 1.6rem;

          &-updated-at {
            margin-top: 5px;
          }
        }

        &-button {
          width: 100%;
          display: block;
          font-weight: 400;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border: 1px solid transparent;
          padding: .75rem 1.5rem;
          box-sizing: border-box;
          font-size: 1rem;
          line-height: 1.25;
          border-radius: .25rem;
          transition: all .15s ease-in-out;
          text-decoration: none;
          align-self: flex-end;
          box-shadow: none !important;

          &-buy {
            background-color: #ff8c14;
            border-color: #ff870a;
            color: white !important;

            &:hover, &:focus {
              background-color: #ed7709;
              border-color: #ed7709;
              color: white !important;
            }
          }

          &-not-available {
            background-color: #fff;
            border-color: #ccc;
            color: black !important;

            &:hover, &:focus {
              background-color: #e6e6e6;
              border-color: #adadad;
              color: black !important;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-related {
      margin-bottom: 25px;

      &-title {
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.4rem;
      }

      &-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        padding-bottom: 10px;
      }

      &-item {
        cursor: pointer;
        border: 1px solid #eee;
        width: 150px;
        height: 150px;
        flex: 1 0 150px;
        margin: 0;
        margin-right: 25px;
        overflow: hidden;

        &-thumbnail {
          object-fit: contain;
          max-width: 100%;
          height: auto;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .aff-product-universal-box {
    &-row {
      flex-direction: column;
    }
    &-column-half-width {
      flex: 1;
      width: 100%;
      &:first-child {
        border-right: 0;
      }
    }
    &-buy {
      flex: 1;
    }
    .aff-product-shops {
      &-item-brand, &-item-info  {
        width: 100%;
      }
      &-item-price {
        flex-direction: column;
        margin-bottom: 5px;
      }
      &-item-price, &-item-actions {
        flex: 1;
        &-current {
          margin-top: 15px;
        }
        &-old {
          margin-left: 0;
          margin-bottom: 15px;
        }
      }
    }
    .aff-product {
      &-title {
        text-align: center;
      }
      &-price {
        flex-direction: column;
      }
    }
  }
}