@import "variables";

.taxonomy-aff_shop_tmpl,
.taxonomy-aff_attribute_tmpl,
.taxonomy-aff_detail_tmpl {
  .wp-editor-tools,
  .wp-editor-container,
  .term-description-wrap {
    display: none;
    visibility: hidden;
  }
}

.taxonomy-aff_shop_tmpl,
.post-type-aff_product {
  .wp-list-table {
    .column {
      &-thumbnail {
        width: 100px;

        img {
          width: 100%;
          max-width: 100px;
          height: auto;
        }
      }
    }
  }
}
