.aff-license {
  &-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &-item {
    box-sizing: border-box;
    width: calc(50% - 5px);
    margin-bottom: 10px;
    display: inline-block;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);

    @media (max-width: 767px) {
      width: 100%;
    }

    &-success {
      color: #3c763d;
      background-color: #dff0d8;
      border: 1px solid #d6e9c6;

      h3 {
        border-bottom: 1px solid #d6e9c6;
      }

      input[type="text"] {
        border: 1px solid #d6e9c6;
      }
    }

    &-error {
      color: #a94442;
      background-color: #f2dede;
      border: 1px solid #ebccd1;

      h3 {
        border-bottom: 1px solid #ebccd1;
      }

      input[type="text"] {
        border: 1px solid #ebccd1;
      }
    }

    h3 {
      font-size: 14px;
      padding: 8px 12px;
      margin: 0;
      line-height: 1.4;
      background-color: white;
      border-bottom: 1px solid #ddd;
    }

    &-content {
      padding: 10px;
      clear: both;
      height: 100%;

      button[type="submit"] {
        margin: 20px auto 0 auto;
        min-width: 100px;
        display: block;
      }

      p {
        margin-top: 5px !important;
      }
    }

    &:nth-child(odd) {
      margin-right: 10px;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      margin-right: 0;
    }
  }
}
